*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	color: white;
	font-family: 'Pangolin', cursive;
	font-size: 1.6rem;
	background: #141e30;
	background: -webkit-linear-gradient(to right, #243b55, #141e30);
	background: linear-gradient(to right, #243b55, #141e30);
}

.header {
	margin: 2rem 0;
	&-text {
		font-family: 'Lacquer', cursive;
		text-align: center;
		font-size: 8rem;
	}
}

.main {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.settings {
	background-color: #132f50;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	.option {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		.color {
			width: 80px;
			height: 80px;
			cursor: pointer;
			transition: scale 0.3s;
		}

		.color:hover {
			scale: 1.05;
		}

		.btn {
			background-color: rgba(255, 255, 255, 0.2);
			cursor: pointer;
			padding: 8px 20px;
			border: 1px solid white;
			border-radius: 10px;
			width: 80%;
			color: white;
			font-family: 'Lacquer', cursive;
			font-size: 1.6rem;
			transition: background-color 0.3s, color 0.3s;
		}

		.btn:hover {
			background-color: rgb(245, 190, 52);
			color: rgba(19, 47, 80, 0.849)
		}

		.btn-active {
			background-color: rgb(170, 127, 16);
		}

		.label {
			text-align: center;
			margin-bottom: 10px;
		}

		.color {
			border-radius: 10px;
			overflow: hidden;
		}

		.grid-size {
			text-align: center;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.2);
			color: white;
		}
	}
}

.squares-container {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(16, 1fr);
	user-select: none;
	border: 2px solid black;
	border-radius: 40px;
	width: 600px;
	height: 600px;
	margin: 0 auto;
	background-color: white;
	overflow: hidden;

	.square {
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: white;
	}
}